#spotify-intro {
  background: #fff url("../images/spotify/intro.jpg") no-repeat 0 100px;
  background-position: center;
}

.emphasized-heading {
  color: #8dc73f;
  text-align: center;
}

.description {
  height: auto;
}