#spotify-intro {
  height: 600px;
  background: #fff url("../images/spotify/intro.jpg") no-repeat 0 100px;
  background-position: center;
}

.column.green,
.section-heading.green {
  background: #8dc73f;
}

.emphasized-heading {
  color: #8dc73f;
  text-align: center;
}

.description {
  height: auto;
}

.auto-height {
  height: auto;
}

.row {
  overflow: hidden;
  background: #42393c;
  float: left;
}

h5.answer {
  font-size: 35px;
  line-height: 45px;
}

hr {
  border: 1px solid white;
  margin: 15px 0;
}

.column-4 {
  height: 570px;
}



