#spotify-intro {
  background: #fff url("../images/spotify/intro.jpg") no-repeat 0 100px;
  background-position: center;
}

.emphasized-heading {
  color: #8dc73f;
  text-align: center;
}

.emphasized-heading a {
  color: white;
  text-decoration: none;
}

.description {
  height: auto;
}

hr {
  border: 1px solid white;
  margin: 15px 0;
}