$yellow: rgba(255, 242, 0, 1.0);

h1,
h2 {
  color: #222;
}

h1 {
  font: 900 60px "Lato", "Helvetica", "Arial", sans-serif;
  margin-bottom: 30px;
}

h2 {
  font: 500 25px "Lato", "Helvetica", "Arial", sans-serif;
  font-style: italic;
}

p {
  font: 22px/1.8 "Droid Serif", "Times New Roman", serif;
  color: #444;
  margin-bottom: 22px;
}

section {
  &.text {
    padding: 30px 20%;
  }
  &.image {
    background-image: url("../images/dimension.png");
    width: 100%;
    height: 300px;
  }
}

.page-navigation,
.nav-item {
  left: 0;
  top: 0;
}

.page-navigation {
  position: fixed;
  top: 30px;
  li {
    width: 80px;
    height: 80px;   
    position: absolute;
    -webkit-transition: top 1s ease-out;
    -firefox-transition: top 1s ease-out;
    -o-transition: top 1s ease-out;
    transition: top 1s ease-out; 
    a {
      height: 100%;
      width: 100%;
      display: block;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .nav-item {
    &#home-nav {
      background-image: url("../images/home-icon.png");
    }
    &#assignment-nav {
      background-image: url("../images/assignments-icon.png");
    }
    &#behance-nav {
      background-image: url("../images/behance-icon.png")
    }
    &:hover {
      background-color: rgba(13, 13, 13, 0.8);
    }
    background-color: rgba(13, 13, 13, 1.0);
  }

  #nav-trigger {
    z-index: 1;
    background: $yellow url("../images/menu-icon.png");
    &:hover {
    }
  }
}