@charset "UTF-8";
@font-face {
  font-family: 'Avenir';
  src: url(/fonts/AvenirLTStd-Light.otf);
  font-weight: 100; }

@font-face {
  font-family: 'Avenir';
  src: url(/fonts/AvenirLTStd-Roman.otf);
  font-weight: 300; }

@font-face {
  font-family: 'Avenir';
  src: url(/fonts/AvenirLTStd-Black.otf);
  font-weight: 500; }

/* NAV config */
/* small reset */
html, body, h1, h2, h3, p {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Avenir', Helvetica, sans-serif;
  font-weight: 300;
  color: #333333; }

html, body {
  width: 100%;
  height: 100%; }

body {
  text-align: left;
  background-color: #fbfbfb; }

/* elem font sizes */
h1, h2, h3, a, p {
  color: inherit; }

.h1-like, h1, .button, .lightbutton {
  font-size: 50px;
  margin: 5px 0px;
  font-weight: 100; }

h2 {
  font-weight: 100;
  font-size: 35px; }

h3 {
  font-weight: 100;
  font-size: 33px; }

li,
p,
a {
  font-weight: 100;
  font-size: 25px;
  line-height: 40px; }

a {
  color: #3d6ea1;
  text-decoration: none; }

a:hover {
  color: #2b3a75; }

a {
  cursor: pointer; }

blockquote {
  color: white;
  font-weight: 300;
  font-size: 33px;
  padding-bottom: 20px; }

cite p {
  font-weight: 100;
  font-size: 15px;
  line-height: 23px; }
  cite p.name {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px; }

/* Helper/position classes */
.bgimage {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden; }
  .bgimage div {
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    background-size: cover;
    -webkit-transform: scale(1.03);
    transform: scale(1.03); }

.gradient-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1000px;
  background: linear-gradient(to bottom, rgba(43, 58, 117, 0.2), rgba(43, 58, 117, 0));
  z-index: -1; }

.plain-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(43, 58, 117, 0.3);
  z-index: -1; }

.button, .lightbutton {
  outline: none;
  border: 1px solid #2b3a75;
  padding: 13px 20px 10px;
  border-radius: 20px;
  margin: 10px 0px 0px;
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 40px;
  text-align: center;
  color: #2b3a75;
  transition: 0.2s background-color, 0.2s color; }
  .button:hover, .lightbutton:hover {
    background-color: #2b3a75;
    color: white; }

select {
  -webkit-appearance: button; }

.lightform h3 {
  color: white;
  margin-top: 0px;
  font-size: 26px;
  line-height: 30px; }

.lightform input, .lightform select, .lightform option {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  width: 150px;
  background: white;
  border-radius: 7px;
  border: none;
  padding: 10px 17px;
  color: #2b3a75;
  margin: 10px;
  margin-bottom: 0px;
  box-sizing: content-box;
  -webkit-appearance: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5); }

.lightform input[type="button"] {
  background-color: #34D2FF;
  background: linear-gradient(to bottom, #34d2ff 0%, #01c7ff 100%);
  color: white;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-weight: 400;
  width: 100px; }
  .lightform input[type="button"]:hover, .lightform input[type="button"]:focus {
    background: linear-gradient(to bottom, #58daff 0%, #34d2ff 100%); }
  .lightform input[type="button"]:active {
    background: linear-gradient(to bottom, #01c7ff 0%, #00bbf1 100%); }

/* Select arrow styling */
select:after {
  content: "▼";
  /* Current arrow I would like to change */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 20px;
  line-height: 30px;
  padding: 0 7px;
  background: #000;
  color: white; }

.lightbutton.lightbutton.lightbutton {
  color: white;
  border: 1px solid white;
  font-weight: 200;
  background: none;
  cursor: pointer; }
  .lightbutton.lightbutton.lightbutton:hover, .lightbutton.lightbutton.lightbutton:focus {
    background-color: white;
    color: #4a61bc; }

@-webkit-keyframes dc-fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes dc-fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

/* Forms */
.apply-form input,
.apply-form select {
  display: inline-block; }
.apply-form select,
.apply-form input[type='text'] {
  box-sizing: border-box;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 15px; }
.apply-form input[type='button'] {
  background: none;
  padding: 10px 20px; }
  .apply-form input[type='button']:hover {
    cursor: pointer; }

.apply-form-inline {
  margin-top: 20px; }

#mission {
  background: url(../img/header-bg-dark.png) center no-repeat;
  background-size: cover; }

#main {
  text-align: center;
  padding-top: 110px; }

.header {
  background: #2b3a75;
  box-sizing: border-box;
  height: 100%;
  opacity: 0;
  padding: 0;
  position: relative;
  -webkit-animation: dc-fade-in 2s 1s forwards;
  animation: dc-fade-in 2s 1s forwards; }
  .header h1,
  .header p {
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); }
  .header h1 {
    font-size: 50px;
    font-weight: 500; }
  .header p {
    font-size: 30px;
    font-weight: 100;
    line-height: 40px; }
  .header .header-text {
    display: inline-block;
    text-align: left;
    width: 450px;
    margin-left: 15%;
    background: rgba(42, 58, 117, 0.85);
    padding: 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    .header .header-text p {
      margin-bottom: 20px; }
    .header .header-text a {
      color: white;
      font-weight: 500; }
      .header .header-text a:hover {
        border-bottom: 4px solid white; }
  .header .welcome {
    width: 500px;
    opacity: 0;
    -webkit-animation: dc-fade-in 1s 3s forwards;
    animation: dc-fade-in 1s 3s forwards;
    text-align: left;
    margin-left: 40px;
    position: relative;
    transform: translateY(-90%); }
    .header .welcome .solo-btn {
      margin-top: 10px; }
  .header .welcome,
  .header .header-iphone {
    display: inline-block; }

.iphone-demo {
  display: block;
  overflow: hidden; }
  .iphone-demo:first-child {
    margin-bottom: 100px; }
  .iphone-demo.left .iphone-demo-text,
  .iphone-demo.left .iphone-demo-image {
    float: right; }

.iphone-demo-text,
.iphone-demo-image {
  float: left;
  text-align: left;
  box-sizing: border-box; }

.iphone-demo-image {
  width: 40%; }

.iphone-demo-text {
  width: 58%;
  margin-top: 7%;
  box-sizing: border-box; }
  .iphone-demo-text p {
    margin-bottom: 25px; }
  .iphone-demo-text ul:last-child {
    margin-bottom: 0; }
  .iphone-demo-text.left {
    margin-left: 0;
    margin-right: 2%;
    margin-top: 17%; }
    .iphone-demo-text.left h3 {
      margin-bottom: 40px; }

.specialist-text,
.specialist-image {
  display: inline-block;
  float: right; }

.specialist-text {
  text-align: left;
  width: 60%; }
  .specialist-text p {
    text-align: justify;
    font-size: 19px;
    line-height: 34px; }

.specialist-image {
  width: 40%; }
  .specialist-image img {
    height: 325px;
    float: right; }

@-webkit-keyframes dc-slide-in {
  0% {
    -webkit-transform: translateX(227.5px);
    transform: translateX(227.5px); }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@keyframes dc-slide-in {
  0% {
    -webkit-transform: translateX(227.5px);
    transform: translateX(227.5px); }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

.header .iphone-video {
  -webkit-transform: translateX(227.5px);
  transform: translateX(227.5px);
  -webkit-animation: dc-slide-in 1.5s 3s forwards;
  animation: dc-slide-in 1.5s 3s forwards; }

.iphone-wmask {
  display: inline-block;
  position: relative;
  height: 600px;
  width: 300px; }
  .iphone-wmask img {
    position: absolute;
    top: 0px;
    left: 0px; }
  .iphone-wmask .iphone-mask {
    background: black;
    position: absolute;
    width: 256px;
    height: 455px;
    top: 72px;
    left: 22px;
    overflow: hidden; }
    .iphone-wmask .iphone-mask div {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 256px;
      height: 455px; }
    .iphone-wmask .iphone-mask img {
      position: absolute;
      top: 0px;
      left: 0px;
      min-width: 256px;
      min-height: 455px;
      height: 455px; }
    .iphone-wmask .iphone-mask video {
      position: absolute;
      top: 0px;
      left: -240px;
      height: 455px; }
  .iphone-wmask .iphone-border {
    position: absolute;
    width: 253px;
    height: 452px;
    top: 72px;
    left: 22px;
    border: 2px solid black; }

.textcenter {
  text-align: center; }

/* Section */
section {
  text-align: center;
  padding: 80px 20%;
  position: relative;
  overflow: hidden; }
  section.bg-main {
    background-color: #2b3a75; }
    section.bg-main h1, section.bg-main h2, section.bg-main h3, section.bg-main p {
      color: white; }
  section.bg-secondary {
    background-color: #3C87C7; }
    section.bg-secondary h1, section.bg-secondary h2, section.bg-secondary h3, section.bg-secondary p {
      color: white; }
  section.bg-white {
    background-color: white; }
    section.bg-white h1, section.bg-white h2, section.bg-white h3, section.bg-white li, section.bg-white p {
      color: #555; }
      section.bg-white h1 strong, section.bg-white h2 strong, section.bg-white h3 strong, section.bg-white li strong, section.bg-white p strong {
        color: #2b3a75; }

#specialist h3 {
  margin-bottom: 50px; }

/* Buttons */
input[type='button'],
.solo-btn {
  color: white;
  border: 3px solid white;
  display: inline-block;
  padding: 3px 25px 0;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.2em;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase; }
  input[type='button']:hover,
  .solo-btn:hover {
    background: white;
    color: #2b3a75; }

#join-us {
  margin-top: 20px; }

/* Navigation */
.navbar {
  background: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  height: 100px;
  padding: 20px 15% 20px 15%;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1; }
  .navbar .solo-btn {
    right: 10%;
    padding: 3px 30px 1px;
    position: absolute; }
  .navbar.intro {
    opacity: 0;
    -webkit-animation: dc-fade-in 2s 5s forwards;
    animation: dc-fade-in 2s 5s forwards; }
  .navbar.mission {
    -webkit-animation: dc-fade-in 1s 2s forwards;
    animation: dc-fade-in 1s 2s forwards; }
  .navbar.scroll {
    background: rgba(255, 255, 255, 0.98);
    transition: 0.5s background; }
    .navbar.scroll .menu a {
      color: #2b3a75; }
      .navbar.scroll .menu a:after {
        background: #2b3a75; }
    .navbar.scroll .logo .white-logo {
      display: none; }
    .navbar.scroll .logo .dark-logo {
      display: block; }
    .navbar.scroll .solo-btn {
      color: #2b3a75;
      border-color: #2b3a75; }
      .navbar.scroll .solo-btn:hover {
        color: white;
        background: #2b3a75; }
  .navbar .logo {
    float: left;
    position: fixed; }
    .navbar .logo .white-logo {
      display: block; }
    .navbar .logo .dark-logo {
      display: none; }
    .navbar .logo img {
      height: 40px; }

.menu {
  display: inline-block;
  text-transform: uppercase; }
  .menu a {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0px 20px;
    padding: 10px 0px 8px;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.2em;
    color: white; }
    .menu a:after {
      position: absolute;
      box-sizing: border-box;
      top: 95%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #fff;
      content: '';
      opacity: 0;
      -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
      -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
      transition: height 0.3s, opacity 0.3s, transform 0.3s;
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      transform: translateY(-10px); }
    .menu a:hover {
      opacity: 0.8; }
    .menu a:hover:after, .menu a.active:after {
      height: 4px;
      opacity: 1.0;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      transform: translateY(0px); }
    .menu a.active {
      font-weight: 500;
      cursor: default; }
      .menu a.active:hover {
        opacity: 1.0; }
    .menu a:last-child {
      margin-right: 0px; }
    .menu a#mobile-apply-btn, .menu a.menu-icon {
      display: none; }
    .menu a.menu-icon {
      font-size: 30px; }
      .menu a.menu-icon:hover:after {
        opacity: 0; }

.light .menu a {
  color: white; }
.light .menu a.active {
  background-color: white;
  color: white; }

.section-wbg {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 0px;
  margin-bottom: 0px; }
  .section-wbg h1, .section-wbg h2, .section-wbg h3, .section-wbg p {
    color: white; }

.larger-section {
  padding-top: 200px;
  padding-bottom: 200px; }

.title {
  margin-top: 100px;
  margin-bottom: 50px; }

.fake-title {
  margin-top: 100px; }

section:nth-child(1) {
  margin-top: 0px;
  padding-top: 70px; }

section .title:nth-child(1) {
  margin-top: 0px; }

section:last-child {
  margin-bottom: 0px;
  padding-bottom: 70px; }

#solution {
  padding: 0; }

.feature {
  display: inline-block;
  text-align: center;
  padding: 0px 20px;
  width: 243px;
  max-width: 90%;
  vertical-align: top; }
  .feature .feature-desc {
    font-size: 19px;
    line-height: 28px; }
  .feature .feature-img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #2b3a75; }
    .feature .feature-img i {
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
      color: #fbfbfb;
      line-height: 100px;
      font-size: 60px;
      /* some icons aren't vertically centered */ }
      .feature .feature-img i.fa-shield {
        padding-top: 5px; }
      .feature .feature-img i.fa-tablet {
        padding-top: 4px; }
  .feature ul {
    margin: 12px 0px;
    list-style: none; }
    .feature ul li {
      display: inline-block; }
  .feature h2 {
    font-weight: 500;
    color: #2b3a75;
    margin-top: 20px; }
  .feature h2, .feature p {
    text-align: center; }
  .feature p {
    margin: 0px; }

.section-wbg .feature h2 {
  color: white; }

.press-array {
  text-align: center;
  overflow: hidden; }

.press-item {
  float: left;
  width: 50%;
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 0px; }
  .press-item .source {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    margin: 0px;
    padding: 10px;
    transition: 0.5s all;
    max-height: 50px;
    max-width: 80%; }
  .press-item:hover .source {
    opacity: 0; }
  .press-item .press-item-overlay {
    width: 100%;
    height: 100%;
    transition: 0.2s background-color, 0.2s opacity;
    background-color: #2b3a75;
    opacity: 0.7; }
  .press-item:hover .press-item-overlay {
    opacity: 0; }

.center {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.iphone-chat {
  position: relative;
  display: inline-block;
  margin: auto; }
  .iphone-chat img {
    height: 400px; }
  .iphone-chat .chat-msgs {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 304px; }
    .iphone-chat .chat-msgs .chat-msg {
      position: absolute;
      top: 0px;
      left: 0px; }

/* BLOG RELATED */
.post-entry {
  display: block;
  margin: 70px 0px; }
  .post-entry .post-highlight {
    height: 200px;
    background-color: #eeeeee; }
    .post-entry .post-highlight:hover {
      background-color: #f3f3f3; }

footer {
  background-color: #fbfbfb;
  text-align: center;
  padding: 80px; }

#apply-inputs {
  display: none;
  height: 0px;
  transition: 1s height; }

#apply-inputs.show {
  display: block;
  height: auto; }

::-webkit-input-placeholder {
  color: rgba(43, 58, 117, 0.5); }

*:-moz-placeholder {
  color: rgba(43, 58, 117, 0.5); }

*::-moz-placeholder {
  color: rgba(43, 58, 117, 0.5); }

*:-ms-input-placeholder {
  color: rgba(43, 58, 117, 0.5); }

select.placeholder {
  color: rgba(43, 58, 117, 0.5); }

.grayscale {
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); }

/* media queries */
@media (max-width: 1300px) {
  section {
    padding: 80px 10%; }

  .header .header-text {
    box-sizing: border-box;
    margin: 0;
    bottom: 0;
    top: auto;
    padding: 30px 40px;
    position: absolute;
    transform: translateY(0);
    width: 100%; } }
@media (max-width: 975px) {
  .iphone-demo {
    text-align: center; }
    .iphone-demo.left .iphone-demo-text,
    .iphone-demo.left .iphone-demo-image {
      float: none; }

  .iphone-demo-text,
  .iphone-demo-image {
    width: auto;
    display: inline-block;
    float: none; }

  .iphone-demo-text {
    padding: 0; }

  .navbar {
    padding: 20px 5%;
    text-align: right; }
    .navbar .solo-btn {
      display: none; }
    .navbar.scroll {
      background: none; }
      .navbar.scroll .logo {
        display: none; }
      .navbar.scroll.mobile-nav .menu {
        background: rgba(255, 255, 255, 0.9); }
    .navbar.mobile-nav .menu {
      background: rgba(43, 58, 117, 0.5); }
    .navbar.mobile-nav .menu a:last-child {
      margin-right: 20px; }
    .navbar.mobile-nav .menu a,
    .navbar.mobile-nav #mobile-apply-btn {
      display: block; }

  .menu a.menu-icon {
    display: block; }
  .menu a.menu-item {
    display: none; } }
@media (max-width: 800px) {
  .specialist-image,
  .specialist-text {
    width: auto;
    float: none;
    display: inline-block; }
    .specialist-image h3,
    .specialist-text h3 {
      text-align: center; }

  .specialist-image {
    margin-bottom: 15px; }

  #press {
    padding: 80px 0 0 0; }

  .press-item {
    width: 100%; }

  .glass.iphone-demo-text {
    text-align: center; }

  .feature {
    margin-bottom: 30px; }

  .apply-form {
    text-align: center; }
    .apply-form input,
    .apply-form select {
      display: block;
      width: 100%;
      margin-bottom: 10px; }
    .apply-form input[type='button'] {
      margin-top: 30px; }

  .header .welcome {
    width: auto;
    background: rgba(43, 58, 117, 0.5); }

  .header .iphone-video {
    -webkit-transform: none;
    transform: none;
    -webkit-animation: none;
    animation: none; } }
@media (max-width: 400px) {
  section {
    padding: 80px 5%; }

  .header {
    background-position-x: -820px; }
    .header .header-text {
      padding: 20px; }
    .header h1 {
      font-size: 30px; }
    .header p {
      font-size: 18px;
      line-height: 23px; } }
