@charset "UTF-8";
@font-face {
  font-family: 'Avenir';
  src: url(/fonts/AvenirLTStd-Roman.otf); }
/* NAV config */
/* small reset */
html, body, div, h1, h2, h3, p {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-family: Helvetica;
  text-decoration: none;
  font-family: 'Avenir', sans-serif;
  font-weight: 300;
  color: #333333; }

html, body {
  width: 100%;
  height: 100%; }

body {
  text-align: left;
  background-color: #FBFBFB; }

.bg-main {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #2B3A75; }
  .bg-main h1, .bg-main h2, .bg-main h3, .bg-main p {
    color: white; }

.bg-white {
  margin: auto;
  background-color: white; }

/* elem font sizes */
h1, h2, h3, a, p {
  color: inherit; }

.h1-like, h1, .button, .lightbutton {
  font-size: 50px;
  margin: 5px 0px;
  font-weight: 100; }

h2 {
  font-weight: 100;
  font-size: 35px;
  margin: 80px 0px; }

h3 {
  font-weight: 100;
  font-size: 26px;
  margin: 12px 0px; }

p, a {
  font-size: 16px;
  line-height: 30px;
  margin: 20px 0px; }

a {
  color: #3D6EA1;
  text-decoration: none; }

a:hover {
  color: #2B3A75; }

a {
  cursor: pointer; }

/* Helper/position classes */
.center, .vcenter, .ditto, .ditto-wmargin {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.vcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%; }

.ditto, .ditto-wmargin {
  max-width: 1000px;
  width: 100%;
  box-sizing: border-box; }

@media (max-width: 1200px) {
  .ditto-wmargin {
    width: 100%;
    max-width: none;
    padding-right: 10%;
    padding-left: 10%; } }
.bgimage {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden; }
  .bgimage div {
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    background-size: cover;
    -webkit-transform: scale(1.03);
            transform: scale(1.03); }

.gradient-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1000px;
  background: linear-gradient(to bottom, rgba(43, 58, 117, 0.2), rgba(43, 58, 117, 0));
  z-index: -1; }

.plain-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(43, 58, 117, 0.3);
  z-index: -1; }

.button, .lightbutton {
  outline: none;
  border: 1px solid #2B3A75;
  padding: 13px 20px 10px;
  border-radius: 20px;
  margin: 10px 0px 0px;
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 40px;
  text-align: center;
  color: #2B3A75;
  transition: 0.2s background-color, 0.2s color; }
  .button:hover, .lightbutton:hover {
    background-color: #2B3A75;
    color: white; }

select {
  -webkit-appearance: button; }

.lightform h3 {
  color: white;
  margin-top: 0px;
  font-size: 26px;
  line-height: 30px; }

.lightform input, .lightform select, .lightform option {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  width: 150px;
  background: white;
  border-radius: 7px;
  border: none;
  padding: 10px 17px;
  color: #2B3A75;
  margin: 10px;
  margin-bottom: 0px;
  box-sizing: content-box;
  -webkit-appearance: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5); }

.lightform input[type="button"] {
  background-color: #34D2FF;
  background: linear-gradient(to bottom, #34D2FF 0%, #01c7ff 100%);
  color: white;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-weight: 400;
  width: 100px; }
  .lightform input[type="button"]:hover, .lightform input[type="button"]:focus {
    background: linear-gradient(to bottom, #58daff 0%, #34D2FF 100%); }
  .lightform input[type="button"]:active {
    background: linear-gradient(to bottom, #01c7ff 0%, #00bbf1 100%); }

/* Select arrow styling */
select:after {
  content: "▼";
  /* Current arrow I would like to change */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 20px;
  line-height: 30px;
  padding: 0 7px;
  background: #000;
  color: white; }

.lightbutton.lightbutton.lightbutton {
  color: white;
  border: 1px solid white;
  font-weight: 200;
  background: none;
  cursor: pointer; }
  .lightbutton.lightbutton.lightbutton:hover, .lightbutton.lightbutton.lightbutton:focus {
    background-color: white;
    color: #4a61bc; }

@-webkit-keyframes dc-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes dc-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.header {
  border-top: 50px solid transparent;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  opacity: 0;
  -webkit-animation: dc-fade-in 1s 1s forwards;
          animation: dc-fade-in 1s 1s forwards; }
  .header h1, .header p {
    text-align: center;
    margin: 7px 0px;
    color: #2B3A75; }
  .header h1 {
    font-size: 50px;
    font-weight: 400; }
  .header h2 {
    margin-bottom: 0px;
    font-size: 20px; }
  .header p {
    font-size: 20px;
    font-weight: 100; }
  .header .welcome {
    opacity: 0;
    -webkit-animation: dc-fade-in 1s 3s forwards;
            animation: dc-fade-in 1s 3s forwards; }

.header.light h1, .header.light p {
  color: white; }

@-webkit-keyframes dc-slide-in {
  0% {
    -webkit-transform: translateX(-227.5px);
            transform: translateX(-227.5px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@keyframes dc-slide-in {
  0% {
    -webkit-transform: translateX(-227.5px);
            transform: translateX(-227.5px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }
.header .iphone-video {
  -webkit-transform: translateX(-227.5px);
          transform: translateX(-227.5px);
  -webkit-animation: dc-slide-in 1.5s 3s forwards;
          animation: dc-slide-in 1.5s 3s forwards; }

.iphone-wmask {
  display: inline-block;
  position: relative;
  height: 600px;
  width: 300px; }
  .iphone-wmask img {
    position: absolute;
    top: 0px;
    left: 0px; }
  .iphone-wmask .iphone-mask {
    background: black;
    position: absolute;
    width: 256px;
    height: 455px;
    top: 72px;
    left: 22px;
    overflow: hidden; }
    .iphone-wmask .iphone-mask div {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 256px;
      height: 455px; }
    .iphone-wmask .iphone-mask img {
      position: absolute;
      top: 0px;
      left: 0px;
      min-width: 256px;
      min-height: 455px;
      height: 455px; }
    .iphone-wmask .iphone-mask video {
      position: absolute;
      top: 0px;
      left: -240px;
      height: 455px; }
  .iphone-wmask .iphone-border {
    position: absolute;
    width: 253px;
    height: 452px;
    top: 72px;
    left: 22px;
    border: 2px solid black; }

.textcenter {
  text-align: center; }

.quote {
  margin: 70px 0px; }
  .quote p {
    font-size: 20px;
    margin: 0px; }
  .quote .quote-text {
    text-align: left;
    padding-bottom: 10px;
    font-size: 30px;
    line-height: 40px; }
  .quote .person-bio {
    overflow: hidden; }
    .quote .person-bio .person-bio-desc {
      padding-top: 5px; }
      .quote .person-bio .person-bio-desc p {
        font-style: italic;
        font-size: 16px;
        line-height: 22px;
        text-align: left; }
    .quote .person-bio img, .quote .person-bio .person-avatar {
      width: 100px;
      height: 100px;
      float: left;
      border-radius: 50px;
      margin-right: 20px;
      background-size: cover; }

section .quote {
  margin: 0px; }

/* NAV */
.navbar-pusher {
  height: 80px;
  widows: 100%; }

.navbar {
  z-index: 1;
  position: absolute;
  top: 20px;
  height: 80px;
  width: 100%; }
  .navbar.intro {
    opacity: 0;
    -webkit-animation: dc-fade-in 2s 5s forwards;
            animation: dc-fade-in 2s 5s forwards; }

.nav-pusher {
  height: 80px; }

.menu {
  padding-top: 5px;
  float: right;
  color: #2B3A75;
  text-transform: uppercase; }
  .menu a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 0px 8px;
    font-size: 13px;
    font-weight: 300;
    float: left;
    line-height: 13px;
    color: #2B3A75; }
    .menu a:hover {
      color: #6f81ca; }
    .menu a.active {
      padding: 10px 15px 8px;
      background-color: #2B3A75;
      color: white;
      border-radius: 18px;
      cursor: default; }
    .menu a:last-child {
      margin-right: 0px; }

.light .menu a {
  color: white; }
.light .menu a.active {
  background-color: white;
  color: #2B3A75; }

@media (max-width: 900px) {
  .menu {
    padding-top: 0px; }
    .menu a {
      float: none;
      display: block;
      text-align: right;
      margin: 3px 0px 7px; }
      .menu a.active {
        margin-right: -15px; }

  .header {
    min-height: 850px; } }
section {
  margin-top: 80px;
  margin-bottom: 80px; }

.section-wbg {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 0px;
  margin-bottom: 0px; }
  .section-wbg h1, .section-wbg h2, .section-wbg h3, .section-wbg p {
    color: white; }

.larger-section {
  padding-top: 200px;
  padding-bottom: 200px; }

.title {
  margin-top: 100px;
  margin-bottom: 50px; }

.fake-title {
  margin-top: 100px; }

section:nth-child(1) {
  margin-top: 0px;
  padding-top: 70px; }

section .title:nth-child(1) {
  margin-top: 0px; }

section:last-child {
  margin-bottom: 0px;
  padding-bottom: 70px; }

.features.big .feature .feature-img:hover {
  -webkit-transform: none;
          transform: none; }
.features.big .feature .feature-img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-size: cover; }

@media (max-width: 570px) {
  .feature.feature.feature {
    padding: 20px; } }
.product-section table h3:first-child {
  margin-top: 0px; }
.product-section table p {
  margin-bottom: 0px; }
.product-section p {
  font-style: italic; }
.product-section h3 {
  margin: 40px 0px 20px;
  font-size: 24px; }

.feature {
  display: inline-block;
  text-align: center;
  padding: 0px 20px;
  width: 243px;
  max-width: 90%;
  vertical-align: top; }
  .feature .feature-img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #2B3A75;
    transition: 0.5s -webkit-transform;
    transition: 0.5s transform; }
    .feature .feature-img i {
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
      color: #FBFBFB;
      line-height: 100px;
      font-size: 60px;
      /* some icons aren't vertically centered */ }
      .feature .feature-img i.fa-shield {
        padding-top: 5px; }
      .feature .feature-img i.fa-tablet {
        padding-top: 4px; }
  .feature .feature-img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .feature ul {
    margin: 12px 0px;
    list-style: none; }
    .feature ul li {
      display: inline-block; }
  .feature h2 {
    color: #2B3A75;
    margin: 12px 0px; }
  .feature h2, .feature p {
    text-align: center; }
  .feature p {
    margin: 0px; }

.section-wbg .feature h2 {
  color: white; }

.press-array {
  text-align: center;
  overflow: hidden; }

.press-item {
  float: left;
  width: 50%;
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 0px; }
  .press-item .source {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    margin: 0px;
    padding: 10px;
    transition: 0.5s all;
    max-height: 50px;
    max-width: 80%; }
  .press-item:hover .source {
    opacity: 0; }
  .press-item .press-item-overlay {
    width: 100%;
    height: 100%;
    transition: 0.2s background-color, 0.2s opacity;
    background-color: #2B3A75;
    opacity: 0.7; }
  .press-item:hover .press-item-overlay {
    opacity: 0; }

.iphone-chat {
  position: relative;
  display: inline-block;
  margin: auto; }
  .iphone-chat img {
    height: 400px; }
  .iphone-chat .chat-msgs {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 304px; }
    .iphone-chat .chat-msgs .chat-msg {
      position: absolute;
      top: 0px;
      left: 0px; }

/* BLOG RELATED */
.post-entry {
  display: block;
  margin: 70px 0px; }
  .post-entry .post-highlight {
    height: 200px;
    background-color: #eeeeee; }
    .post-entry .post-highlight:hover {
      background-color: #f3f3f3; }

.footer {
  background-color: #FBFBFB; }
  .footer .ditto-wmargin {
    overflow: hidden; }
  .footer p, .footer .logo {
    line-height: 80px;
    padding: 0px;
    color: white;
    text-align: left;
    margin: 0px 10px; }
  .footer .logo, .footer .copyright {
    margin-top: 0px; }
  .footer .copyright {
    color: black; }

#apply-inputs {
  display: none;
  height: 0px;
  transition: 1s height; }

#apply-inputs.show {
  display: block;
  height: auto; }

::-webkit-input-placeholder {
  color: rgba(43, 58, 117, 0.5); }

*:-moz-placeholder {
  color: rgba(43, 58, 117, 0.5); }

*::-moz-placeholder {
  color: rgba(43, 58, 117, 0.5); }

*:-ms-input-placeholder {
  color: rgba(43, 58, 117, 0.5); }

select.placeholder {
  color: rgba(43, 58, 117, 0.5); }

.grayscale {
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); }

/* media queries */
@media (max-width: 400px) {
  h1 {
    font-size: 35px; }

  h2 {
    font-size: 24.5px; }

  h3 {
    font-size: 18.2px; }

  .header.header h1 {
    font-size: 35px; }

  .quote-text.quote-text {
    font-size: 25px; }

  .larger-section {
    padding-top: 100px;
    padding-bottom: 100px; } }
@media (max-width: 600px) {
  .lightform input, .lightform select, .lightform option {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px; } }
@media (min-width: 601px) and (max-width: 979px) {
  .lightform input, .lightform select, .lightform option {
    display: block;
    margin-left: auto;
    margin-right: auto; } }
