body,
html {
  width: 100%;
  height: 100%; }

article {
  background: #fff;
  width: 100%; }

#navigation {
  background: #febe10;
  opacity: 1.0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  transition: 0.5s; }
  #navigation.hidden {
    opacity: 0; }
  #navigation li {
    display: inline-block; }
    #navigation li a {
      display: block;
      padding: 20px;
      line-height: 20px;
      color: #003462; }
    #navigation li.logo a {
      font: 900 italic 20px/22px "Playfair Display", serif;
      text-decoration: none; }
      #navigation li.logo a:hover {
        color: #000b1f; }
    #navigation li.nav-item a {
      font: normal 13px "Lato", sans-serif;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-decoration: none; }

#intro {
  width: 100%;
  height: 100%;
  background: url("../images/intro-bg.png") center center;
  background-size: cover; }

#why {
  height: 100%; }

.title-box {
  background: white;
  box-shadow: 0px 0px 0 9px rgba(56, 59, 67, 0.3);
  text-align: center;
  width: 500px;
  padding: 15px 0;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.triangle {
  background: url("../images/triangle.png") center no-repeat;
  background-size: contain;
  bottom: 100px;
  width: 50px;
  height: 84px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

h1,
h2 {
  color: #003462; }

h1.logo {
  font: 900 italic 50px/60px "Playfair Display", serif; }

h2.subtitle {
  font: normal 18px/40px "Lato", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase; }

@media screen and (max-width: 580px) {
  .title-box {
    width: 350px; }
    .title-box h1.logo {
      font-size: 40px;
      line-height: 50px; }
    .title-box h2.subtitle {
      font-size: 12px;
      line-height: 30px; } }
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  25% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }

  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  75% {
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px); } }

@-moz-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  25% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }

  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  75% {
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px); } }

@-ms-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  25% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }

  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  75% {
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  25% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }

  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  75% {
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px); } }

.bounce {
  -webkit-animation: bounce 3s infinite ease-in-out;
  -moz-animation: bounce 3s infinite ease-in-out;
  -ms-animation: bounce 3s infinite ease-in-out;
  animation: bounce 3s infinite ease-in-out; }
