$yellow: #febe10;
$navy: #003462;

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body,
html {
  width: 100%;
  height: 100%;
}

article {
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15%;
  overflow: hidden;
  margin-bottom: 125px;
}

#navigation {
  background: $yellow;
  opacity: 1.0;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  transition: 0.5s;
  li {
    display: inline-block;
    margin: 0;
    &.logo {
      margin-right: 20px;
    }
    a {
      display: block;
      padding: 20px 30px;
      line-height: 20px;
      color: $navy;
    }
    &.logo a {
      font: 900 italic 20px/22px "Playfair Display", serif;
      text-decoration: none;
      &:hover {
        color: #000b1f;
      }
    }
    &.nav-item a {
      font: normal 14px "Lato", sans-serif;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        color: #000b1f;
      }
    }
  }
}

#intro {
  width: 100%;
  height: 100%;
  background: url("../images/intro-bg01.png") center center;
  background-size: cover;
  padding: 0;
  margin: 0;
}

#story {
  padding-top: 120px;
}

.title-box {
  background: white;
  box-shadow: 0px 0px 0 9px rgba(56, 59, 67, 0.3);
  text-align: center;
  width: 500px;
  padding: 15px 0;
  margin: 0 auto;
  @include vertical-align;
}

.triangle {
  background: url("../images/triangle.png") center no-repeat;
  background-size: contain;
  bottom: 100px;
  width: 50px;
  height: 84px;
  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  @extend bounce;
}

.headline,
.details {
  float: left;
}

.headline {
  width: 34%;
  text-align: right;
  margin-right: 4%;
}

.details {
  width: 62%;
  text-align: left;
  padding-top: 12px;
}

h1,
h2,
p,
h3,
li {
  color: $navy;
}

h1 {
  &.logo {
    font: 900 italic 50px/60px "Playfair Display", serif;
  }
  &.section-header {
    font: 900 italic 50px/60px "Playfair Display", serif;
    margin-bottom: 10px;
  }
}

h2 {
  &.subtitle {
    font: normal 18px/40px "Lato", sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    word-spacing: 7px;
  }
}

h3 {
  font: 900 22px/28px "Lato", sans-serif;
  margin-top: 35px;
  margin-bottom: 5px;
  &.first {
    margin-top: 0;
  }
}
li,
p {
  font: normal 19px/28px "Lato", sans-serif;
  strong {
    font-weight: 900;
  }
}

.list {
  li {
    list-style-type: circle;
    margin-left: 28px;
    font-size: 15px;
    margin-top: 5px;
    line-height: 20px;
    a {
      color: $navy;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  margin: 10px;
}

img {
  width: 100%;
  height: auto;
  margin: 10px 0;
}

@media screen and (max-width: 580px) {
  .title-box {
    width: 350px;
    h1.logo {
      font-size: 40px;
      line-height: 50px;
    }
    h2.subtitle {
      font-size: 12px;
      line-height: 30px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .headline,
  .details {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  #navigation {
    display: none;
  }
  .title-box {
    width: 300px;
  }
  #story {
    margin-top: 20px;
  }
  h1.logo {
    font-size: 38px;
  }
  h2.subtitle {
    font-size: 11px;
  }
  .triangle {
    bottom: 50px;
  }
}

// Animations

// Bounce animation...
// Thank you, http://codepen.io/dodozhang21/pen/siKtp
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}
@mixin animation($animation) {
  -webkit-animation: #{$animation};
  -moz-animation: #{$animation};
  -ms-animation: #{$animation};
  animation: #{$animation};
}
@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@include keyframes(bounce) {
  0% {
    @include transform(translateY(0));
  }
  25% {
    @include transform(translateY(-30px));
  }
  50% {
    @include transform(translateY(0));
  }
  75% {
    @include transform(translateY(-40px));
  }
}

.bounce {
  @include animation(bounce 3s infinite ease-in-out);
}
