$penpal_blue: #4eb6e2;
$tan: #fff;

// Mixins
@mixin box-shadow {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
@mixin text-shadow {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: white;
}

#content {
  width: 100%;
  height: 100%;
  margin: 0;
}

article {
  @include box-shadow;
  padding: 0 10%;
  width: 80%;
  position: relative;
  min-height: 100%;
}

.article-heading {
  font: 100 25px/36px "Open Sans", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.2em;
  text-align: center;
}

#brainstorming {
  z-index: -1;
}

#intro {
  background: $penpal_blue;
  color: $tan;
  text-align: center;
  display: table;
}

.article-content {
  display: table-cell; 
  vertical-align: middle;
}

.pen-pal,
.caption {
  @include text-shadow;
}

.pen-pal {
  font: 70px "Pacifico", script;
}

.caption {
  font: 100 25px/36px "Open Sans", "Helvetica", "Arial", sans-serif;
  width: 700px;
  margin: 0 auto;
}