* {
  margin: 0; }

html,
body {
  height: 100%; }

.page-wrapper {
  min-height: 100%;
  margin-bottom: -90px;
  overflow: hidden; }

.page-wrap:after {
  content: "";
  display: block; }

footer, .page-wrap:after {
  height: 90px; }

footer {
  background: white; }
  footer a,
  footer .caption {
    font: 400 15px "Lato", "Helvetica", "Arial", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    padding: 35px 0;
    text-decoration: none;
    color: #0d0d0d; }
  footer .yellow-divide {
    color: rgba(13, 13, 13, 0.4); }
  footer a:hover {
    color: rgba(13, 13, 13, 0.7); }

header {
  width: 100%;
  background: white;
  padding: 40px 0 20px 0;
  z-index: 1;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
  header h1 {
    color: #0d0d0d;
    font: 700 35px "Lato", "Helvetica", "Arial", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin: 0; }
  header nav ul {
    margin: 20px auto;
    width: 645px; }
  header nav li {
    display: block;
    float: left;
    padding: 5px 20px 10px 20px;
    width: 175px; }
    header nav li a {
      font: 400 15px "Lato", "Helvetica", "Arial", sans-serif;
      letter-spacing: 0.2em;
      color: #0d0d0d;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center; }
    header nav li.active {
      border-bottom: 2px solid #fff200; }
    header nav li:hover a {
      color: rgba(13, 13, 13, 0.7); }

.thumbnails {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%; }

.thumbnail a {
  position: relative;
  float: left;
  font-size: 12em;
  max-height: 290px;
  text-align: center;
  width: 16.6666667%;
  /* Fallback */
  width: -webkit-calc(100% / 6);
  width: calc(100% / 6); }
  .thumbnail a.shade1 {
    background: #fff200; }
  .thumbnail a.shade2 {
    background: rgba(255, 242, 0, 0.75); }
  .thumbnail a.shade3 {
    background: rgba(255, 242, 0, 0.5); }
  .thumbnail a.shade4 {
    background: rgba(255, 242, 0, 0.25); }
  .thumbnail a .lesson-number {
    position: relative;
    font-family: "Oswald", "Helvetica", "Arial", sans-serif;
    display: inline-block;
    font-weight: 700;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.9);
    z-index: 1; }
  .thumbnail a:hover {
    cursor: pointer;
    opacity: 0.8; }

h1,
h2 {
  color: #222; }

h1 {
  font: 900 60px "Lato", "Helvetica", "Arial", sans-serif;
  margin-bottom: 30px; }

h2 {
  font: 500 25px "Lato", "Helvetica", "Arial", sans-serif;
  font-style: italic; }

h3 {
  font: 300 28px/38px "Lato", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 15px;
  border-left: 28px #fff200 solid;
  padding-left: 20px; }

p {
  font: 22px/1.8 "Droid Serif", "Times New Roman", serif;
  color: #444;
  margin-bottom: 22px; }

section.text {
  padding: 30px 20%; }
section.image {
  background-image: url("../images/dimension.png");
  width: 100%;
  height: 300px; }

.page-navigation,
.nav-item {
  left: 0;
  top: 0; }

.page-navigation {
  position: fixed;
  top: 30px; }
  .page-navigation li {
    width: 80px;
    height: 80px;
    position: absolute;
    -webkit-transition: top 1s ease-out;
    -firefox-transition: top 1s ease-out;
    -o-transition: top 1s ease-out;
    transition: top 1s ease-out; }
    .page-navigation li a {
      height: 100%;
      width: 100%;
      display: block; }
      .page-navigation li a:hover {
        cursor: pointer; }
  .page-navigation .nav-item {
    background-color: #0d0d0d; }
    .page-navigation .nav-item#home-nav {
      background-image: url("../images/home-icon.png"); }
    .page-navigation .nav-item#assignment-nav {
      background-image: url("../images/assignments-icon.png"); }
    .page-navigation .nav-item#behance-nav {
      background-image: url("../images/behance-icon.png"); }
    .page-navigation .nav-item:hover {
      background-color: rgba(13, 13, 13, 0.8); }
  .page-navigation #nav-trigger {
    z-index: 1;
    background: #fff200 url("../images/menu-icon.png"); }

/* Example for media query: change number of items per row */
@media screen and (max-width: 1190px) {
  .page-wrapper {
    margin-bottom: 0; }

  .thumbnails a {
    width: 20%;
    /* Fallback */
    width: -webkit-calc(100% / 5);
    width: calc(100% / 5); } }
@media screen and (max-width: 945px) {
  .page-wrapper {
    margin-bottom: 0; }

  .thumbnails a {
    width: 25%;
    /* Fallback */
    width: -webkit-calc(100% / 4);
    width: calc(100% / 4); } }
@media screen and (max-width: 760px) {
  .page-wrapper {
    margin-bottom: 0; }

  .thumbnails a {
    width: 33.3333333%;
    /* Fallback */
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3); } }
@media screen and (max-width: 560px) {
  .page-wrapper {
    margin-bottom: 0; }

  .global-nav {
    width: 215px; }

  .global-nav li {
    float: none;
    margin: 0 auto; }

  .thumbnails a {
    width: 50%;
    /* Fallback */
    width: -webkit-calc(100% / 2);
    width: calc(100% / 2); } }
@media screen and (max-width: 340px) {
  .global-nav {
    width: 215px; }

  .global-nav li {
    float: none;
    margin: 0 auto; }

  .page-wrapper {
    margin-bottom: 0; }

  .thumbnails a {
    width: 100%; } }
