$yellow1: rgba(255, 242, 0, 1.0);
$yellow2: rgba(255, 242, 0, 0.75);
$yellow3: rgba(255, 242, 0, 0.5);
$yellow4: rgba(255, 242, 0, 0.25);
$black: rgba(13, 13, 13, 1.0);

$gray1: rgba(0, 0, 0, 0.5);
$gray2: rgba(0, 0, 0, 0.3);
$gray3: rgba(0, 0, 0, 0.4);
$gray4: rgba(0, 0, 0, 0.1);

// Settings for sticky footer
* {
  margin: 0;
}

html,
body {
  height: 100%;
  // padding-bottom: 100px;
}

.page-wrapper {
  min-height: 102%;
  margin-bottom: -90px;
  overflow: hidden;
}

.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  height: 90px; 
}

footer {
  background: white;
  a,
  .caption {
    font: 400 15px "Lato", "Helvetica", "Arial", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    padding: 35px 0;
    text-decoration: none;
    color: $black;
  }
  .yellow-divide {
    color: rgba(13, 13, 13, 0.4);
  }

  a:hover {
    color: rgba(13, 13, 13, 0.7)
  }
}

hr {
  margin-bottom: 30px;
}

// Application 
form {
  padding: 30px 20%;
}
.ss-item {
  margin-bottom: 25px;
}
.ss-q-title {
  font: bold 20px/27px "Lato", "Helvetica", "Arial", sans-serif;
  a {
    color: #0FBEEB;
    &:hover {
      opacity: 0.5;
    }
  }
}
.ss-q-help,
.ss-secondary-text {
  font: bold 17px/21px "Lato", "Helvetica", "Arial", sans-serif;
  margin-bottom: 10px;
  color: #777;
}
.ss-choice-label {
  font: 300 17px/25px "Lato", "Helvetica", "Arial", sans-serif;
  margin-bottom: 10px;
}
.ss-required-asterisk {
  color: red;
}
.required-message {
  display: none;
}
.error-message {
  color: red;
  font: 15px "Lato", "Helvetica", "Arial", sans-serif;
  margin-top: 5px;
  display: none;
}

.ss-q-short,
.ss-q-long {
  outline: none;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  font-family: "Lato";
  &:focus {
    border: 1px solid #0FBEEB;
  }
}
#ss-submit {
  cursor: pointer;
  font: 20px bebas-neue, "Bebas Neue", "Helvetica", "Arial";
  display: block;
  text-decoration: none;
  background: $yellow1;
  padding: 10px 20px;
  color: $black;
  width: 200px;
  margin-bottom: 10px;
  text-align: center;
  border: none;
  border-bottom: #d7cd00 5px solid;
  border-radius: 10px;
  &:hover,
  &:active {
    border-bottom: #d7cd00 2px solid;
  }
}

.ss-q-long {
  width: 100%;
}

// Home Page
header {
  width: 100%;
  background: white; 
  padding: 40px 0 20px 0; 
  z-index: 1;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  h1 {
    color: $black;
    font: 700 35px "Lato", "Helvetica", "Arial", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin: 0;
  }
  nav {
    ul {
      margin: 20px auto;
      width: 645px;
    }
    li {
      display: block;
      float: left;
      padding: 5px 20px 10px 20px;
      width: 175px;
      a {
        font: 400 15px "Lato", "Helvetica", "Arial", sans-serif;
        letter-spacing: 0.2em;
        color: $black;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
      }
      &.active {
        border-bottom: 2px solid $yellow1;
      }
      &:hover a {
        color: rgba(13, 13, 13, 0.7);
      }
    }
  }
}

.thumbnails {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  overflow: hidden;
}

.thumbnail a {
  position: relative;
  float: left;
  font-size: 12em;
  max-height: 290px; 
  text-align: center;
  width: 16.6666667%;  

  /* Fallback */
  width: -webkit-calc(100% / 6);
  width: calc(100% / 6);

  &.shade1 {
    background: $yellow1;
  }
  &.shade2 {
    background: $yellow2;
  }
  &.shade3 {
    background: $yellow3;
  }
  &.shade4 {
    background: $yellow4;
  }

  &.not-active {
    opacity: 0.5;
  }


  .lesson-number {
    position: relative;
    font-family: bebas-neue, "Bebas Neue", "Helvetica", "Arial", sans-serif;
    display: inline-block;
    font-weight: 700;
    line-height: 1.5;
    color: hsla(0, 0%, 0%, 0.9);
    z-index: 1;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

// Articles

h1,
h2 {
  color: #222;
}

h1 {
  font: 900 60px "Lato", "Helvetica", "Arial", sans-serif;
  margin-bottom: 30px;
}

h2 {
  font: 500 25px "Lato", "Helvetica", "Arial", sans-serif;
  font-style: italic;
  strong {
    font-weight: 900;
  }
  a {
    color: #0FBEEB;
    &:hover {
      opacity: 0.5;
    }
  }
}

h4.special,
h3 {
  font: 300 28px/38px "Lato", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 15px;
  margin-top: 20px;
  a {
    color: #0FBEEB;
    &:hover {
      opacity: 0.5;
    }
  }
}

h4.special {
  font-weight: bold;
  font-size: 20px;
}

.text li,
p {
  font: 22px/1.8 "Droid Serif", "Times New Roman", serif;
  color: #444;
  margin-bottom: 22px;
  &.small {
    font-size: 18px;
    margin-top: 5px;
    color: #777;
  }
  em {
    font-style: italic;
    color: #aaa;
  }
}

.text li {
  margin-left: 30px;
  margin-bottom: 10px;
  font: 18px/1.5 "Droid Serif", "Times New Roman", serif;
  color: #555;
  strong {
    font-weight: bold;
  }
}

img {
  margin-bottom: 30px;
  &.left-image {
    float: left;
    height: 300px;
    margin-right: 10px;
  }
}

.images {
  overflow: hidden;
  display: block;
}

.video {
  margin-bottom: 30px;
}

q {
  font: italic 22px/1.5 "Droid Serif", "Times New Roman", serif;
  color: #777;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  margin: 5px 0 27px 0;
  display: block;
  text-align: center;
  padding: 10px 40px;
}

.btn-download {
  font: 20px bebas-neue, "Bebas Neue", "Helvetica", "Arial";
  display: block;
  text-decoration: none;
  background: $yellow1;
  padding: 10px 20px;
  color: $black;
  width: 200px;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: #d7cd00 5px solid;
  border-radius: 10px;
  &:hover,
  &:active {
    border-bottom: #d7cd00 2px solid;
  }
  &.large {
    width: 300px;
    margin-bottom: 30px;
  }
}

section {
  &.text {
    padding: 30px 20%;
  }
  &.image {
    background-image: url("../images/dimension.png");
    width: 100%;
    height: 300px;
  }
}

.page-navigation,
.nav-item {
  left: 0;
  top: 0;
}

.page-navigation {
  position: fixed;
  top: 30px;
  li {
    width: 80px;
    height: 80px;   
    position: absolute;
    -webkit-transition: top 0.25s ease-out;
    -firefox-transition: top 0.25s ease-out;
    -o-transition: top 0.25s ease-out;
    transition: top 0.25s ease-out; 
    a {
      height: 100%;
      width: 100%;
      display: block;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .nav-item {
    &#home-nav {
      background-image: url("../images/home-icon.png");
    }
    &#assignment-nav {
      background-image: url("../images/assignments-icon.png");
    }
    &#behance-nav {
      background-image: url("../images/behance-icon.png")
    }
    &:hover {
      background-color: rgba(13, 13, 13, 0.8);
    }
    background-color: $black;
  }

  #nav-trigger {
    z-index: 1;
    background: $yellow1 url("../images/menu-icon.png");
    &:hover {
    }
  }
}

/* Example for media query: change number of items per row */
@media screen and (max-width: 1190px) {
  .page-wrapper {
    margin-bottom: 0;
  }
  .thumbnails a {
    width: 20%;
    /* Fallback */
    width: -webkit-calc(100% / 5);
    width: calc(100% / 5);
  }
}

@media screen and (max-width: 945px) {
  .page-wrapper {
    margin-bottom: 0;
  }
  .thumbnails a {
    width: 25%;
    /* Fallback */
    width: -webkit-calc(100% / 4);
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 760px) {
  .page-wrapper {
    margin-bottom: 0;
  }
  .thumbnails a {
    width: 33.3333333%;
    /* Fallback */
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 560px) {
  .page-wrapper {
    margin-bottom: 0;
  }
  .global-nav {
    width: 215px;
  }
  .global-nav li {
    float: none;
    margin: 0 auto;
  }
  .thumbnails a {
    width: 50%;
    /* Fallback */
    width: -webkit-calc(100% / 2);
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 340px) {
  .global-nav {
    width: 215px;
  }
  .global-nav li {
    float: none;
    margin: 0 auto;
  }
  .page-wrapper {
    margin-bottom: 0;
  }
  .thumbnails a {
    width: 100%;
  }
}